extends layout

block content
    h1=title
    if isZoom
        p Welcome to your Zoom App
    else
        p You're viewing your Zoom App through the browser.&nbsp;
            a(href=`/install`) Click Here
            | &nbsp;to install your app in Zoom.

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

